* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* 내가 들고온 폰트 프리텐다드 */



body {
    font-family: "Noto Serif KR", serif;
    color: #413528;
}

/* 헤더 */
#header_bg {
    background-color: #FFF7E5;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.header {
    width: 1320px;
    height: 94px;
    box-sizing: border-box;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    padding-top: 15px;
}

.logo a img {
    width: 200px;
}

.gnb {
    display: flex;
    font-family: "Huninn", sans-serif;
}

.gnb>li {
    position: relative;
}

.gnb>li>a {
    display: block;
    padding: 27.5px 40px;
    color: #716558;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.gnb>li>a:hover {
    font-weight: bold;
}

.gnb>li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    min-width: 150px;

    color: #554738;
    border: 1px solid rgba(111, 104, 93, 0.18);
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(79, 67, 50, 0.08);
    overflow: hidden;
    z-index: 9;

    background-color: rgb(255, 241, 215);
}

.submenu li a {
    display: block;
    padding: 13px 20px;
    text-align: center;

    transition: color 0.25s ease,
        transform 0.25s ease;
}

.submenu li:hover {
    background: rgba(231, 215, 182, 0.637);

}

.submenu li a:hover {
    color: #2f2a23;
    transform: translateY(-1px);
}

.visit_submenu li:hover {
    background: rgba(223, 208, 177, 0.747);
}


.util {
    display: flex;
    gap: 22px;
    align-items: center;
}

.util li {
    position: relative;
    width: 32px;
    height: 32px;
}

.util li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.util li a img {
    width: 30px;
}

.util li a span {
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%) translateY(4px);

    padding: 5px 10px;
    font-size: 12px;
    color: #5f574c;
    background: #fff8ea;
    border: 1px solid rgba(111, 104, 93, 0.18);
    border-radius: 10px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, transform 0.25s ease;

    font-family: 'Pretendard';
    letter-spacing: 0.7px;
}

.util li a:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
    font-weight: 700;
    background: rgb(255, 241, 215);
}




/* By Space 페이지 전체 */
.byspace_page {
    color: #3f3329;
    background: #fff;
}

/* 공통 너비 */
.byspace_inner {
    width: 1320px;
    margin: 0 auto;
}

/* 상단 영역 */
.byspace_intro {
    background: #FFF7E5;
    padding: 130px 0 80px;
}

/* 자동 슬라이드 비주얼 */
.byspace_visual {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 32px;
    overflow: hidden;
}

/* 슬라이드 이미지 */
.visual_slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s;
}

/* 현재 보이는 슬라이드 */
.visual_slide.active {
    opacity: 1;
}

/* 이미지 위 어두운 막 */
.byspace_visual::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 45, 25, 0.18);
    z-index: 1;
}

/* 상단 이미지 안 텍스트 */
.visual_text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.visual_text p {
    font-size: 20px;
    margin-bottom: 18px;
    font-family: "Huninn", sans-serif;
    font-weight: 100;
}

.visual_text h2 {
    font-size: 25px;
    line-height: 1.55;
    font-weight: 500;

}

.visual_text h2 span {
    font-family: "Huninn", sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
}


/* 탭 메뉴 */
.space_tabs {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.space_tabs li {
    margin: 0 15px;
}

.space_tab {
    min-width: 120px;
    height: 51px;
    padding: 0 28px;
    border: 2px solid #9ca483;
    border-radius: 50px;
    background: transparent;
    color: #757b55;
    font-size: 24px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    letter-spacing: 1px;
}

.space_tab.active {
    background: #9ca483;
    color: #fff;
}

.space_tab:hover {
    background: #9ca483;
    color: #fff;
}

/* 콘텐츠 영역 */
.space_contents {
    background: #fff;
    padding: 70px 0 130px;
    scroll-margin-top: 130px;
}

.space_content_inner {
    width: 1320px;
    margin: 0 auto;
}

/* 탭 콘텐츠 기본 숨김 */
.space_panel {
    display: none;
    scroll-margin-top: 130px;
}

/* 선택된 탭 콘텐츠만 보임 */
.space_panel.active {
    display: block;
}


/* 탭별 배너 */
.space_banner {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.space_banner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(30, 18, 10, 0.65) 0%,
            rgba(30, 18, 10, 0.5) 25%,
            rgba(30, 18, 10, 0.25) 45%,
            rgba(30, 18, 10, 0) 72%);
    z-index: 1;
}

.banner_text {
    position: absolute;
    left: 100px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: #fff;
}

.banner_text span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Huninn", sans-serif;
}

.banner_text h3 {
    font-size: 50px;
    margin-bottom: 12px;
    font-family: "Noto Serif KR", serif;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.banner_text strong {
    display: block;
    font-size: 25px;
    margin-bottom: 18px;
    font-weight: 600;
}

.banner_text b {
    font-family: "Huninn", sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.banner_text p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6;
}


/* 상품 리스트 */
.product_grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.product_card {
    width: 30%;
    margin-bottom: 180px;
    cursor: pointer;
}

.product_img {
    width: 100%;
    height: 386px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 18px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.product_img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    transition: transform 0.5s ease;
}

/* 상품명 */
.product_card h4 {
    font-family: "Huninn", sans-serif;
    font-size: 25px;
    margin-bottom: 12px;
    font-weight: 500;

    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.product_card h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background: #716558;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.product_card p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
}

/* 카드에 마우스 올렸을 때 이미지 박스 */
.product_card:hover .product_img {
    transform: translateY(-4px);
    box-shadow: 0 10px 22px rgba(80, 60, 40, 0.09);
}

/* 카드에 마우스 올렸을 때 이미지 살짝 확대 */
.product_card:hover .product_img img {
    transform: scale(1.03);
}

/* 카드에 마우스 올렸을 때 상품명 */
.product_card:hover h4 {
    color: #716558;
}

/* 카드에 마우스 올렸을 때 상품명 밑줄 */
.product_card:hover h4::after {
    transform: scaleX(1);
}





/* 푸터 섹션*/

/* 푸터 상단 */
#footer_bg {
    background-color: #FDF3E5;
    height: 300px;
    border-top: 1px solid #71655842;
}

.footer {
    width: 1320px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #605447;
}

.footer h1 {
    width: 200px;
    margin-bottom: 10px;
    margin-top: -30px
}

.footer h1 a {
    display: block;
}

.footer h1 img {
    width: 100%;
    display: block;
}


/* 메뉴 */
.footer .menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 18px;
    font-family: "Huninn", sans-serif;
}

.footer .menu li {
    position: relative;
}

.footer .menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -21px;
    top: 50%;
    transform: translateY(-50%);

    width: 1px;
    height: 14px;
    background-color: #9b8b7a;
}

.footer .menu a {
    font-size: 20px;
    letter-spacing: 0.5px;
}


/* SNS, 메일 */
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

    margin-bottom: 16px;
}

.link a {
    display: flex;
    align-items: center;
    gap: 7px;

    font-family: "Huninn", sans-serif;
    font-size: 16px;
}

.link img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
}


/* 주소, 시간 */
.footer p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Pretendard';
}

.footer p span {
    margin-right: 8px;
    font-weight: 600;
}


/* 푸터 하단 */
#footer_wrap {
    background-color: #F4E0C6;
    height: 60px;
    border-top: 1px solid #a5978c;
}

.footer2 {
    width: 1320px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #605447;
    font-size: 12px;
    font-family: "Huninn", sans-serif;
}


/* top 버튼 */
.top_btn {
    position: fixed;
    right: 30px;
    bottom: 140px;
    z-index: 999;

    width: 55px;
    height: 90px;
    border-radius: 30px;

    background-color: #8f8a6f;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: 20px;
    font-family: "Huninn", sans-serif;
    text-decoration: none;

    opacity: 0.9;
    transition: all 0.3s;
}

.top_btn span {
    font-size: 20px;
    line-height: 1;
}

.top_btn:hover {
    background-color: #615947;
    transform: translateY(-4px);
}